<nav class="p-4">
  <span class="text-muted fs-4 px-4 mx-4" id="logo">Certus</span>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link text-muted" href="#">Caracteristicas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-muted" href="#">Soporte Para</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-muted" href="#">Empresas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-muted" href="#">Precios</a>
    </li>
    <button type="button" class="btn btn-outline-primary mx-4">Inscribirse</button>
  </ul>
</nav>



<div class="container">
  <div class="text-center py-4 my-4">
    <h2 class="py-4">Precios</h2>
    <p class="text-muted fs-4">Adquiere uno de nuestros planes en promocion</p>
  </div>
  <div class=" row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <div class="card-header text-center">
          Libre
        </div>
        <div class=" card-body">
          <h5 class="card-title">$ 0 <span class="text-muted">/ mes</span></h5>
          <ul class="card-text">
            <li>10 usuarios incluidos</li>
            <li>2GB de almacenamiento</li>
            <li>Soporte de correo electronico</li>
            <li>Acceso al centro de ayuda</li>
          </ul>
          <a href="#" class="btn btn-outline-primary">Registrate Gratis</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header text-center">
          Pro
        </div>
        <div class="card-body">
          <h5 class="card-title">$ 15 <span class="text-muted">/ mes</span></h5>
          <ul class="card-text">
            <li>20 usuarios incluidos</li>
            <li>10GB de almacenamiento</li>
            <li>Soporte prioritario por correo electronico</li>
            <li>Acceso al centro de ayuda</li>
          </ul>
          <a href="#" class="btn btn-primary">Empezar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-header text-center">
          Empresa
        </div>
        <div class="card-body">
          <h5 class="card-title">$ 29 <span class="text-muted">/ mes</span></h5>
          <ul class="card-text">
            <li>30 usuarios incluidos</li>
            <li>15GB de almacenamiento</li>
            <li>Soporte teefonico y por correo electronico</li>
            <li>Acceso al centro de ayuda</li>
          </ul>
          <a href="#" class="btn btn-primary">Contactenos</a>
        </div>
      </div>
    </div>
  </div>
</div>